@import url("https://fonts.googleapis.com/css?family=Montserrat");
@font-face {
  font-family: "Main";
  src: url("../fonts/Failed.ttf") format("truetype"), url("../fonts/Failed.ttf") format("opentype");
}
/* line 1, ../sass/_forms.scss */
.icon {
  position: absolute;
  padding-top: 0px;
  margin-left: 12.5px;
  font-size: 18px;
}

/* line 8, ../sass/_forms.scss */
.form-play {
  border: none;
  outline: none;
  background: transparent;
  color: white;
  width: 100%;
  text-indent: 40px;
  border-bottom: 1px solid white;
}
/* line 18, ../sass/_forms.scss */
.form-play:focus {
  border-bottom: 1px solid #9a2b2b;
}

/* line 1, ../sass/_buttons.scss */
.butn {
  height: 35px;
  width: auto;
  padding: 0 10px;
  color: white;
  border: none;
  line-height: 35px;
  outline: none;
}
/* line 10, ../sass/_buttons.scss */
.butn:focus {
  outline: none;
}
/* line 11, ../sass/_buttons.scss */
.butn:active {
  outline: none;
}

/* line 14, ../sass/_buttons.scss */
.danger-flat {
  background-color: #9a2b2b;
  color: white;
}
/* line 18, ../sass/_buttons.scss */
.danger-flat:hover {
  cursor: pointer;
  background: transparent;
  color: #9a2b2b;
  border: 1px solid #9a2b2b;
}

/* line 1, ../sass/layout/_base.scss */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #9a2b2b;
  background-color: #121212;
}

/* line 7, ../sass/layout/_base.scss */
::-webkit-scrollbar {
  width: 10px;
  background-color: #121212;
}

/* line 13, ../sass/layout/_base.scss */
::-webkit-scrollbar-thumb {
  background-color: #9a2b2b;
}

/* line 18, ../sass/layout/_base.scss */
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-image: url("../img/background.jpeg");
  color: white;
  font-family: 'Montserrat';
}

/* line 27, ../sass/layout/_base.scss */
.container-fluid {
  margin-top: 20px;
}

/* line 31, ../sass/layout/_base.scss */
.container-website-wallpaper {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(18, 18, 18, 0.9);
  overflow: auto;
}

/* line 45, ../sass/layout/_base.scss */
.icon-plateform {
  font-size: 25px;
}

/* line 49, ../sass/layout/_base.scss */
.interaction-website {
  margin-top: 10px;
  height: 40px;
  width: 100%;
  text-align: center;
  line-height: 40px;
  background-color: #9a2b2b;
  color: white;
}
/* line 57, ../sass/layout/_base.scss */
.interaction-website:hover {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #9a2b2b;
  color: #9a2b2b;
}

/* line 65, ../sass/layout/_base.scss */
.tp11 {
  font-size: 11px;
}

/* line 66, ../sass/layout/_base.scss */
.tp12 {
  font-size: 12px;
}

/* line 67, ../sass/layout/_base.scss */
.tp13 {
  font-size: 13px;
}

/* line 68, ../sass/layout/_base.scss */
.tp14 {
  font-size: 14px;
}

/* line 69, ../sass/layout/_base.scss */
.tp15 {
  font-size: 15px;
}

/* line 70, ../sass/layout/_base.scss */
.tp16 {
  font-size: 16px;
}

/* line 71, ../sass/layout/_base.scss */
.tp17 {
  font-size: 17px;
}

/* line 72, ../sass/layout/_base.scss */
.tp18 {
  font-size: 18px;
}

/* line 73, ../sass/layout/_base.scss */
.tp19 {
  font-size: 19px;
}

/* line 74, ../sass/layout/_base.scss */
.tp20 {
  font-size: 20px;
}

/* line 1, ../sass/element/_header.scss */
.header {
  height: 50px;
  width: 100%;
  background-color: rgba(18, 18, 18, 0.8);
  left: 0;
  right: 0;
  border-bottom: 2px solid #9a2b2b;
  font-family: 'Montserrat';
}
/* line 12, ../sass/element/_header.scss */
.header .nav-header {
  width: auto;
  padding: 0 10px;
  color: white;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-weight: 700;
}
/* line 22, ../sass/element/_header.scss */
.header .nav-header:hover {
  background-color: #9a2b2b;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

/* line 1, ../sass/element/_leftDashboard.scss */
.box-information-profil {
  left: 0;
  right: 0;
  height: auto;
  background-image: url("https://art-of-lol.com/wp-content/uploads/2016/05/League-Of-Legends-Wallpaper-HD-1920x1080-7.jpg");
  background-size: cover;
  background-position: center;
}

/* line 9, ../sass/element/_leftDashboard.scss */
.box-content-information {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 10px;
  text-align: center;
  border-bottom: 2px solid #9a2b2b;
}
/* line 17, ../sass/element/_leftDashboard.scss */
.box-content-information .information-level {
  position: relative;
  left: 5px;
  top: 5px;
  height: 20px;
  width: 20px;
}
/* line 25, ../sass/element/_leftDashboard.scss */
.box-content-information .information-plateform {
  position: relative;
  right: 5px;
  top: 5px;
  float: right;
  height: 20px;
  width: auto;
  margin-top: -22.5px;
}
/* line 35, ../sass/element/_leftDashboard.scss */
.box-content-information .avatar_profil {
  height: 110px;
  width: 110px;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* line 43, ../sass/element/_leftDashboard.scss */
.box-information-level {
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  height: 60px;
  margin-bottom: 15px;
  padding: 10px 10px;
}
/* line 50, ../sass/element/_leftDashboard.scss */
.box-information-level .content-info-level {
  position: absolute;
  height: 40px;
  width: 20%;
  display: inline-block;
  font-family: 'Main';
  font-size: 50px;
  line-height: 40px;
  text-align: center;
}
/* line 61, ../sass/element/_leftDashboard.scss */
.box-information-level .content-info-xp {
  margin-top: 30px;
  height: 5px;
  width: 78%;
  background-color: black;
  display: inline-block;
  float: right;
}
/* line 69, ../sass/element/_leftDashboard.scss */
.box-information-level .content-info-xp .content-xp {
  height: 5px;
  width: 0%;
  background-color: red;
}
/* line 75, ../sass/element/_leftDashboard.scss */
.box-information-level .content-info-xp .content-text-xp {
  position: absolute;
  margin-top: -30px;
}

/* line 82, ../sass/element/_leftDashboard.scss */
.box-switch {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.6);
}
/* line 89, ../sass/element/_leftDashboard.scss */
.box-switch .switch-element {
  list-style: none;
  width: 100%;
  text-align: left;
  text-indent: 7.5px;
  height: 35px;
  line-height: 35px;
  text-transform: uppercase;
  font-family: 'Montserrat';
}
/* line 98, ../sass/element/_leftDashboard.scss */
.box-switch .switch-element:hover {
  cursor: pointer;
  background-color: rgba(154, 43, 43, 0.6);
  color: white;
}

/* line 106, ../sass/element/_leftDashboard.scss */
.plateform-position {
  position: absolute;
  right: 5px;
}

/* line 1, ../sass/element/_rightDashboard.scss */
.box-warning {
  height: 250px;
  width: 100%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: auto;
}
/* line 11, ../sass/element/_rightDashboard.scss */
.box-warning .title-warning {
  height: 35px;
  width: 100%;
  line-height: 35px;
  background-color: rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  text-indent: 5px;
}
/* line 23, ../sass/element/_rightDashboard.scss */
.box-warning .box-content-warning {
  height: auto;
  width: 100%;
  padding: 5px 5px;
  list-style: none;
  font-size: 12px;
}
