@import url("https://fonts.googleapis.com/css?family=Montserrat");
@font-face {
  font-family: "Main";
  src: url("../fonts/Failed.ttf") format("truetype"), url("../fonts/Failed.ttf") format("opentype");
}
/* line 1, ../sass/_forms.scss */
.icon {
  position: absolute;
  padding-top: 0px;
  margin-left: 12.5px;
  font-size: 18px;
}

/* line 8, ../sass/_forms.scss */
.form-play {
  border: none;
  outline: none;
  background: transparent;
  color: white;
  width: 100%;
  text-indent: 40px;
  border-bottom: 1px solid white;
}
/* line 18, ../sass/_forms.scss */
.form-play:focus {
  border-bottom: 1px solid #9a2b2b;
}

/* line 1, ../sass/_buttons.scss */
.butn {
  height: 35px;
  width: auto;
  padding: 0 10px;
  color: white;
  border: none;
  line-height: 35px;
  outline: none;
}
/* line 10, ../sass/_buttons.scss */
.butn:focus {
  outline: none;
}
/* line 11, ../sass/_buttons.scss */
.butn:active {
  outline: none;
}

/* line 14, ../sass/_buttons.scss */
.danger-flat {
  background-color: #9a2b2b;
  color: white;
}
/* line 18, ../sass/_buttons.scss */
.danger-flat:hover {
  cursor: pointer;
  background: transparent;
  color: #9a2b2b;
  border: 1px solid #9a2b2b;
}

/* line 6, ../sass/dashboard.scss */
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-image: url("../img/background.jpeg");
  color: white;
  font-family: 'Montserrat';
}

/* line 15, ../sass/dashboard.scss */
.touch {
  border: 1px solid white;
  padding: 2px 2px;
  font-size: 14px;
  color: white;
}

/* line 22, ../sass/dashboard.scss */
.interact-touch {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-weight: 700;
}
/* line 29, ../sass/dashboard.scss */
.interact-touch:hover {
  color: #9a2b2b;
  cursor: pointer;
}
/* line 33, ../sass/dashboard.scss */
.interact-touch:hover .touch {
  color: #9a2b2b;
  border: 1px solid #9a2b2b;
}

/* line 40, ../sass/dashboard.scss */
.error {
  display: none;
  z-index: 2;
  height: 40px;
  position: absolute;
  left: 0;
  right: 0;
  line-height: 40px;
  text-indent: 15px;
  background-color: #9a2b2b;
  bottom: 0;
  text-align: left;
}

/* line 53, ../sass/dashboard.scss */
.danger-err {
  background-color: #9a2b2b;
  color: white;
}

/* line 58, ../sass/dashboard.scss */
.success-err {
  background-color: green;
  color: white;
}

/* line 63, ../sass/dashboard.scss */
li {
  list-style: none;
}

/* line 65, ../sass/dashboard.scss */
.red {
  color: #9a2b2b;
}

/* line 67, ../sass/dashboard.scss */
.title-website {
  padding-top: 200px;
  font-size: 80px;
  font-family: 'Main';
  color: white;
}

/* line 76, ../sass/dashboard.scss */
.container-website-wallpaper {
  position: fixed;
  text-align: center;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(18, 18, 18, 0.9);
}

/* line 89, ../sass/dashboard.scss */
.box-action {
  width: 400px;
  height: 200px;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 10px;
  background-color: rgba(18, 18, 18, 0.8);
}
/* line 101, ../sass/dashboard.scss */
.box-action .action-select {
  height: 50px;
  width: 100%;
  color: white;
  line-height: 50px;
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-weight: 700;
}
/* line 112, ../sass/dashboard.scss */
.box-action .action-select:hover {
  cursor: pointer;
  border-right: 1px solid #9a2b2b;
  border-left: 1px solid #9a2b2b;
  color: #9a2b2b;
}

/* line 123, ../sass/dashboard.scss */
.box-new-profil {
  text-align: left;
  display: none;
  width: 500px;
  height: 350px;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 10px;
  background-color: rgba(18, 18, 18, 0.8);
  padding: 10px 10px;
  border-bottom: 3px solid #9a2b2b;
}

/* line 144, ../sass/dashboard.scss */
.box-charge-profil {
  text-align: left;
  display: none;
  width: 500px;
  height: 250px;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 10px;
  background-color: rgba(18, 18, 18, 0.8);
  padding: 10px 10px;
  border-bottom: 3px solid #9a2b2b;
}

/* line 165, ../sass/dashboard.scss */
.desc-box {
  height: 35px;
  margin-top: -10px;
  left: 0;
  right: 0;
  line-height: 35px;
  margin-bottom: 15px;
}

/* line 175, ../sass/dashboard.scss */
.back-home {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
}
/* line 181, ../sass/dashboard.scss */
.back-home:hover {
  cursor: pointer;
  color: #9a2b2b;
}

/* line 187, ../sass/dashboard.scss */
.startship {
  font-family: 'Main';
  font-size: 23px;
  text-align: center;
}

/* line 193, ../sass/dashboard.scss */
.copy {
  color: white;
  font-family: 'Montserrat';
  font-size: 12px;
}
