body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-image:url('../img/background.jpeg');
    color: white;
    font-family: 'Montserrat';
}

.container-fluid{
    margin-top:20px;
}

.container-website-wallpaper{
    position: fixed;

    height: 100%;
    width: 100%;

    left:0; right: 0;
    top: 0; bottom: 0;

    background-color: rgba($black, 0.9);
}

.tp11{font-size: 11px;}
.tp12{font-size: 12px;}
.tp13{font-size: 13px;}
.tp14{font-size: 14px;}
.tp15{font-size: 15px;}
.tp16{font-size: 16px;}
.tp17{font-size: 17px;}
.tp18{font-size: 18px;}
.tp19{font-size: 19px;}
.tp20{font-size: 20px;}