.butn{
    height: 35px;
    width: auto;
    padding: 0 10px;
    color: white;
    border: none;
    line-height:35px;
    outline:none;

    &:focus{outline:none;}
    &:active{outline:none;}
}

.danger-flat{
    background-color:$red;
    color: white;

    &:hover{
        cursor: pointer;
        background:transparent;
        color: $red;
        border: 1px solid $red;
    }
}