@import "fonts";
@import 'colors';
@import 'forms';
@import 'buttons';

body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-image:url('../img/background.jpeg');
    color: white;
    font-family: 'Montserrat';
}

.touch{
    border:1px solid white;
    padding: 2px 2px;
    font-size:14px;
    color: white;
}

.interact-touch{
    display: none;
    position:absolute;
    bottom: 10px;
    left: 10px;
    font-weight: 700;

    &:hover{
        color: $red;
        cursor: pointer;

        .touch{
            color: $red;
            border:1px solid $red;
        }
    }
}

.error{
    display: none;
    z-index:2;
    height: 40px;
    position: absolute;
    left: 0; right: 0;
    line-height: 40px;
    text-indent: 15px;
    background-color: $red;
    bottom: 0;
    text-align: left;
}

.danger-err{
    background-color:$red;
    color: white;
}

.success-err{
    background-color: green;
    color: white;
}

li{list-style: none;}

.red{color:$red}

.title-website{
    padding-top:200px;

    font-size: 80px;
    font-family: 'Main';

    color: white;
}

.container-website-wallpaper{
    position: fixed;
    text-align: center;

    height: 100%;
    width: 100%;

    left:0; right: 0;
    top: 0; bottom: 0;

    background-color: rgba($black, 0.9);
}

.box-action{
    width: 400px;
    height: 200px;

    left: 0; right: 0;

    margin: auto;
    margin-top:25px;
    margin-bottom:10px;

    background-color: rgba(#121212, 0.8);

    .action-select{
        height: 50px;
        width: 100%;

        color: white;

        line-height:50px;
        text-transform: uppercase;
        font-family: 'Montserrat';
        font-weight: 700;

        &:hover{
            cursor: pointer;

            border-right: 1px solid $red;
            border-left: 1px solid $red;

            color: $red;
        }
    }
}

.box-new-profil{
    text-align: left;

    display: none;

    width:500px;
    height:350px;

    left: 0; right: 0;

    margin: auto;
    margin-top:25px;
    margin-bottom:10px;

    background-color: rgba(#121212, 0.8);

    padding:10px 10px;

    border-bottom:3px solid $red;
}

.box-charge-profil{
    text-align: left;

    display: none;

    width:500px;
    height:250px;

    left: 0; right: 0;

    margin: auto;
    margin-top:25px;
    margin-bottom:10px;

    background-color: rgba(#121212, 0.8);

    padding:10px 10px;

    border-bottom:3px solid $red;
}

.desc-box{
    height:35px;
    margin-top:-10px;
    left: 0; right: 0;

    line-height:35px;

    margin-bottom:15px;
}

.back-home{
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;

    &:hover{
        cursor: pointer;
        color: $red;
    }
}

.startship{
    font-family: 'Main';
    font-size:23px;
    text-align: center;
}

.copy{
    color: white;

    font-family: 'Montserrat';
    font-size:12px;
}